<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>dev_web</display-name>
  	<context-param>
  		<param-name>log4jConfigLocation</param-name>
  		<param-value>/WEB-INF/classes/log4j.properties</param-value>
  	</context-param>
	<servlet>
		<servlet-name>firstServlet</servlet-name>
		<servlet-class>com.day1.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>firstServlet</servlet-name>
		<url-pattern>/day1/hello.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FrontMVC1</servlet-name>
		<servlet-class>com.mvc.step1.FrontMVC</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontMVC1</servlet-name>
		<url-pattern>*.gym</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FrontMVC2</servlet-name>
		<servlet-class>com.mvc.step2.ActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontMVC2</servlet-name>
		<url-pattern>*.kh</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>POJO</servlet-name>
		<servlet-class>com.mvc.step3.ActionSupport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>POJO</servlet-name>
		<url-pattern>*.pj</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ch1dept</servlet-name>
		<servlet-class>book.ch1.DeptServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ch1dept</servlet-name>
		<url-pattern>/dept/dept.ds</url-pattern>
	</servlet-mapping>
</web-app>