<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  	<context-param>
  		<param-name>log4jConfigLocation</param-name>
  		<param-value>/WEB-INF/classes/log4j.properties</param-value>
  	</context-param>
  	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.kh.test.controller.TestController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test/test.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TestBoardInsert</servlet-name>
		<servlet-class>mvc.kh.BoardWriteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestBoardInsert</servlet-name>
		<url-pattern>/board/boardInsert</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>TestBoardSelect</servlet-name>
		<servlet-class>mvc.kh.BoardListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestBoardSelect</servlet-name>
		<url-pattern>/board/boardList</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>TestBoardUpdate</servlet-name>
		<servlet-class>mvc.kh.BoardUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestBoardUpdate</servlet-name>
		<url-pattern>/board2/update.bo</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>TestBoardDetail</servlet-name>
		<servlet-class>mvc.kh.BoardDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestBoardDetail</servlet-name>
		<url-pattern>/board2/detail.bo</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>SinarioLogin</servlet-name>
		<servlet-class>mvc.kh.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SinarioLogin</servlet-name>
		<url-pattern>/member/login</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>SinarioLogout</servlet-name>
		<servlet-class>mvc.kh.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SinarioLogout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>NoticeSelect</servlet-name>
		<servlet-class>mvc.kh.NoticeSelectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoticeSelect</servlet-name>
		<url-pattern>/notice/noticeList</url-pattern>
	</servlet-mapping>	  	
</web-app>